.markdownEditor {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #333;
}

.markdownPreview {
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid #333;
}
