/* styles.css */

@media (max-width: 768px) {
  .site-layout .site-layout-background {
    padding: 0 16px;
  }

  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ant-breadcrumb {
    margin: 16px 0;
  }
}
.rc-md-editor .editor-container .sec-md .input {
  background-color: #ffffff !important;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #333;
}
